<!doctype html>
<html lang="en" class="no-js" xmlns:th="http://www.thymeleaf.org">
<head>

    <style type="text/css">
        body {
            font-size: 13px;
            line-height: 25px;
        }

        table {
            width: 600px;
        }

        td {
            border-right: 1px solid #333;
            border-bottom: 1px solid #333;
            text-align: center;
        }

        .title {

            font-weight: bold;
            background-color: #cccccc;
        }


    </style>




    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Administer || JobHelp</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- favicon
    ============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">

    <!-- Google Fonts
    ============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

    <!-- All css files are included here
    ============================================ -->
    <!-- Bootstrap CSS
    ============================================ -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- This core.css file contents all plugins css file
    ============================================ -->
    <link rel="stylesheet" href="css/core.css">

    <!-- Theme shortcodes/elements style
    ============================================ -->
    <link rel="stylesheet" href="css/shortcode/shortcodes.css">

    <!-- Color Swithcer CSS
    ============================================ -->
    <link rel="stylesheet" href="css/plugins/color-switcher.css">

    <!--  Theme main style
    ============================================ -->
    <link rel="stylesheet" href="style.css">

    <!-- Color CSS
    ============================================ -->
    <link rel="stylesheet" href="css/plugins/color.css">

    <!-- Responsive CSS
    ============================================ -->
    <link rel="stylesheet" href="css/responsive.css">
    <link rel="stylesheet" href="testhover.css">
    <link rel="stylesheet" href="css/userstyle.css">

</head>
<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<!--Main Wrapper Start-->
<div class="as-mainwrapper">
    <!--Bg White Start-->
    <div class="bg-white">
        <!--Header Area Start-->
        <header id="sticky-header" class="header-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-xs-12">
                        <div class="logo"><a href="index.html"><img src="images/logo/logo.png" alt="JobHelp"></a></div>
                    </div>
                    <div class="col-md-9 hidden-sm hidden-xs">
                        <div class="pull-right">
                            <nav id="primary-menu">
                                <ul class="main-menu text-right">
                                    <li><a href="/">Home</a>
                                    </li>
                                    <li><a href="/job-board" target="_blank">Job Board</a>
                                    </li>

                                    <!--                                    <li><a href="/resume" target="_blank">Resume</a></li>-->
                                    <li><a href="/ability-evaluate" target="_blank">Ability Evaluate</a></li>
                                    <li><a href="/contact" target="_blank">Contact</a></li>
                                    <li th:if="${session.username eq 'root'}"><a href="/admin" target="_blank">
                                        <font color="#14b1bb">Administer</font></a>
                                    </li>
                                </ul>
                            </nav>

                            <div class="login-btn pt-36" th:if="${chooseuser ne 'null'}">
                                <ul class="hList">

                                    <li>
                                        <a class="menu">
                                            <h2 class="menu-title menu-title_2nd" th:text="${chooseuser}">Hello</h2>
                                            <ul class="menu-dropdown">
<!--                                                <li onclick="window.open('/resume','_self')">Edit Resume</li>&lt;!&ndash;    用a标签和链接将默认展开        &ndash;&gt;-->
                                                <li id="adout">Log Out</li>
                                            </ul>
                                        </a>
                                    </li>

                                </ul>


                            </div>

                            <div class="login-btn pt-36" id="loginpos" th:if="${chooseuser eq 'null'}">
                                <a class="modal-view button" href="#" data-toggle="modal"
                                   data-target="#productModal">Login</a>

                            </div>

                            <!--                            <div class="login-btn pt-36" id="loginpos" th:if="${chooseuser eq 'null'}">-->
                            <!--                                <a class="modal-view button" href="#" data-toggle="modal"-->
                            <!--                                   data-target="#productModal">Login</a>-->
                            <!--                            </div>-->

                        </div>
                    </div>
                </div>
            </div>
            <!-- Mobile Menu Area start -->
            <div class="mobile-menu-area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="mobile-menu">
                                <nav id="dropdown">
                                    <ul class="main-menu text-right">
                                        <li><a href="/">Home</a>
                                        </li>
                                        <li><a href="/job-board" target="_blank">Job Board</a>
                                        </li>

                                        <!--                                                        <li><a href="/resume" target="_blank">Resume</a></li>-->
                                        <li><a href="/ability-evaluate" target="_blank">Ability Evaluate</a></li>
                                        <li><a href="/contact" target="_blank">Contact</a></li>
                                        <li th:if="${session.username eq 'root'}"><a href="/administer" target="_blank">Administer</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Mobile Menu Area end -->
        </header>
        <!-- End of Header Area -->
        <!--Breadcrumb Banner Area Start-->
        <div class="breadcrumb-banner-area pt-94 pb-85 bg-3 bg-opacity-dark-blue-90">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="breadcrumb-text">
                            <h2 class="text-center text-white uppercase mb-17">Load Data</h2>
                            <div class="breadcrumb-bar">
                                <ul class="breadcrumb text-center m-0">
                                    <li class="text-white uppercase ml-15 mr-15"><a href="/">Home</a></li>
                                    <li class="text-white uppercase ml-15 mr-15">Administer</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End of Breadcrumb Banner Area-->
        <!--Start of Single Job Post Area-->
        <div class="single-job-post-area pt-70 mb-120">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <form action="#">
                            <div class="single-job-content">
                                <!--                                        <div class="area-title text-center">-->
                                <!--                                            <h2 class="pt-10 pb-10">Describe Your Company</h2>-->
                                <!--                                        </div>-->
                                <!--                                        <div class="title uppercase pt-70 pb-38"><span>Choose Your Data</span></div>-->
                                <div class="single-job-form">

                                    <div class="single-info mb-14 fix">
<!--                                        <label class="uppercase pull-left m-0">Choose File Source</label>-->
<!--                                        <div class="uploader fix pull-left fileupload">-->
<!--                                            <input type="file" id="fileupload" name="fileupload" onchange="document.getElementById('filenames').value=this.files[0].name">-->
<!--                                            <span class="filename" ,id="filenames" >Upload your data</span>-->
<!--                                            <span class="action"><i class="zmdi zmdi-folder"></i>Browse</span>-->
<!--                                        </div>-->
<!--                                        <span class="ml-20 pull-left max-size">Maximum file size: 1MB</span>-->
                                        <form id="uploadForm">
                                            <input type="file" id="fileupload" name="fileupload" class="file"  onchange="document.getElementById('textfield').value=this.files[0].name"/>
<!--                                            <input type="submit" class="btn" id="" value="上传" />-->
                                        </form>

                                    </div>

                                    <div class="ml-160 mt-38">
                                        <button type="button" class="btn btn-default" id="conform">Confirm</button>
                                    </div>
                                </div>

                                <!--                                        这里是分根线-->
                            </div>
                        </form>

                        <table border="0" cellspacing="0" cellpadding="0" id="filelist">
                            <tr class="title" width="20px">
                                <td width="70%">filename</td>
                                <td width="30%">operation</td>
                            </tr>


                        </table>

                        <div class="ml-160 mt-38">
                            <button type="button" class="btn btn-default">Execute</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End of Single Job Post Area-->
        <!--Start of Social Link Area-->
        <div class="social-link-area ptb-40 dark-blue-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 fix col-xs-12 col-sm-6">
                        <div class="footer-logo pull-left">
                            <a href="index.html" class="block"><img src="images/logo/footer-logo.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-md-6 fix col-xs-12 col-sm-6">
                        <div class="social-links pull-right">
                            <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                            <a href="#"><i class="zmdi zmdi-rss"></i></a>
                            <a href="#"><i class="zmdi zmdi-google-plus"></i></a>
                            <a href="#"><i class="zmdi zmdi-pinterest"></i></a>
                            <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End of Social Link Area-->
        <!--Start of Footer Widget-area-->
        <div class="footer-widget-area black-bg pt-120 pb-110">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-4">
                        <div class="single-footer-widget">
                            <h3 class="text-white mb-22">About Us</h3>
                            <p class="text-white pr-10">There are many vations of passages of Lorem Ipsumable, but the
                                majority have suffered altetion in some form, by injected ur, or randomised words which
                                don't look even slightly believable</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4">
                        <div class="single-footer-widget">
                            <h3 class="text-white mb-26">GET IN TOUCH</h3>
                            <span class="text-white mb-9"><i class="fa fa-phone"></i>+88 018 785 4589</span>
                            <span class="text-white mb-9"><i class="fa fa-envelope"></i>devitems@email.com</span>
                            <span class="text-white mb-9"><i class="fa fa-globe"></i>www.devitems.com</span>
                            <span class="text-white mb-9"><i
                                    class="fa fa-map-marker"></i>ur address goes here,street.</span>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4">
                        <div class="single-footer-widget">
                            <h3 class="text-white mb-21">Helpful Links</h3>
                            <ul class="footer-list">
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Support</a></li>
                                <li><a href="#">Affiliate</a></li>
                                <li><a href="#">Pricing</a></li>
                                <li><a href="#">Terms &amp; Conditions</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 hidden-sm">
                        <div class="single-footer-widget">
                            <h3 class="text-white mb-21">Trending Jobs</h3>
                            <ul class="footer-list">
                                <li><a href="#">Designer</a></li>
                                <li><a href="#">Developer</a></li>
                                <li><a href="#">iOS Developer</a></li>
                                <li><a href="#">Designer</a></li>
                                <li><a href="#">Developer</a></li>
                                <li><a href="#">iOS Developer</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End of Footer Widget-area-->
        <!-- Start of Footer area -->
        <footer class="footer-area blue-bg text-center ptb-20">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="footer-text">
                            <span class="text-white block">Copyright&copy; <span>JOBHELP</span> 2016.All right reserved.Created by <a
                                    href="https://freethemescloud.com/" class="text-white">Free themes Cloud</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End of Footer area -->
    </div>
    <!--End of Bg White-->
</div>
<!--End of Main Wrapper Area-->

<!--Start of Login Form-->
<div id="quickview-login">
    <!-- Modal -->
    <div class="modal fade" id="productModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true"><i class="zmdi zmdi-close"></i></span></button>
                </div>
                <div class="modal-body">
                    <div class="form-pop-up-content ptb-60 pl-60 pr-60">
                        <div class="area-title text-center mb-43">
                            <h2 class="pt-7 pb-7 pl-40 pr-40">Login</h2>
                        </div>
                        <form method="post" action="#">
                            <div class="form-box">
                                <input type="text" name="username" placeholder="User Name" class="mb-14">
                                <input type="password" name="password" placeholder="Password">
                            </div>
                            <div class="fix ptb-30">
                                <span class="remember pull-left"><input class="p-0 pull-left" type="checkbox">Remember Me</span>
                                <span class="pull-right"><a href="#">Forget Password?</a></span>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="text-uppercase">SignIn</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Login Form-->


<!-- jquery latest version
========================================================= -->
<script src="js/vendor/jquery-1.12.4.min.js"></script>

<!-- Bootstrap framework js
========================================================= -->
<script src="js/bootstrap.min.js"></script>

<!-- Owl Carousel js
========================================================= -->
<script src="js/owl.carousel.min.js"></script>

<!-- nivo slider js
========================================================= -->
<!--		<script src="lib/nivo-slider/js/jquery.nivo.slider.js" type="text/javascript"></script>-->
<!--		<script src="lib/nivo-slider/home.js" type="text/javascript"></script>-->

<!-- Js plugins included in this file
========================================================= -->
<script src="js/plugins.js"></script>

<!-- Google Map js
============================================ -->

<!--		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDSLSFRa0DyBj9VGzT7GM6SFbSMcG0YNBM "></script>-->
<!--		<script type="text/javascript" src="https://www.google.com/jsapi"></script>-->
<!--		<script>-->
<!--			function initialize() {-->
<!--			  var mapOptions = {-->
<!--				zoom: 15,-->
<!--				scrollwheel: false,-->
<!--				center: new google.maps.LatLng(23.763494, 90.432226)-->
<!--			  };-->

<!--			  var map = new google.maps.Map(document.getElementById('googleMap'),-->
<!--				  mapOptions);-->


<!--			  var marker = new google.maps.Marker({-->
<!--				position: map.getCenter(),-->
<!--				animation:google.maps.Animation.BOUNCE,-->
<!--				icon: 'images/map-marker.png',-->
<!--				map: map-->
<!--			  });-->
<!--                -->
<!--			}-->
<!--                -->
<!--			google.maps.event.addDomListener(window, 'load', initialize);-->
<!--		</script>-->

<!-- Video Player JS
========================================================= -->
<script src="js/jquery.mb.YTPlayer.js"></script>

<!-- AJax Mail JS
========================================================= -->
<!--        <script src="js/ajax-mail.js"></script>-->

<!-- Mail Chimp JS
========================================================= -->
<!--        <script src="js/jquery.ajaxchimp.min.js"></script>-->

<!-- StyleSwitch JS
========================================================= -->
<script src="js/styleswitch.js"></script>

<!-- Waypoint Js
========================================================= -->
<script src="js/waypoints.min.js"></script>

<!-- Main js file contents all jQuery plugins activation
========================================================= -->
<script src="js/main.js"></script>

<script type="text/javascript">
    function postData() {
        var formData = new FormData();
        formData.append("file", $("#photo")[0].files[0]);
        formData.append("service", 'App.Passion.UploadFile');
        // formData.append("token",token);
        $.ajax({
            url: '/uploadfile', /*接口域名地址*/
            type: 'post',
            data: formData,
            contentType: false,
            processData: false,
            success: function (res) {
                console.log(res);
                if (res["msg"] == "success") {
                    alert('成功');
                } else if (res["msg"] == "error") {
                    alert('失败');
                } else {
                    console.log(res);
                }
            }
        })
    }
</script>

<script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>


<script>
    window.onload=function () {
        $.ajax({
            url:'/uploadfile', /*接口域名地址*/
            type:'get',
            data: formData,
            contentType: false,
            processData: false,
            success:function(res){
                // console.log(res);
                var data = eval("("+res+")");
                if(data.msg=="success"){


                    var listietm="";
                    for(item in  data)
                    {
                        listitem+="<tr><td>" +listitem.name_lsit[item]+"</td><td>" +
                                "<input type='button' value='delete' id='del"+item+"'onclick='delRow()'>"+
                                "<input type='checkbox' id='choice"+item+"'>"+
                            "</td></tr>";
                    }
                    $("#filelist").html(listiem);
                }else if(json.msg=="error"){
                    alert('失败');
                }else{
                    // console.log(res);
                }
            }
        })
    }
</script>

<script>
    $(#conform).click=function()
    {
        $.ajax({
            url:'/uploadfile', /*接口域名地址*/
            type:'post',
            data: formData,
            contentType: false,
            processData: false,
            success:function(res){
                // console.log(res);
                var json = eval("("+res+")");
                if(json.msg=="success"){

                    //行的长度
                    var rowlength = document.getElementById("order").rows.length;
                    //得到整个表格对象
                    var order = document.getElementById("order").insertRow(rowlength - 1);
                    order.id = rowlength - 1;
                    //插入列
                    var cel1 = order.insertCell(0).innerHTML = $("#fileupload")[0].files[0].name;

                    var cel4 = order.insertCell(1).innerHTML = "<input type=\"button\" value=\"delete\" " +
                        "onclick=\"delRow('" + (rowlength - 1) + "')\"/>" + "<input type=\"checkbox\" id=\"choosed\" />"
                }else if(json.msg=="error"){
                    alert('失败');
                }else{
                    // console.log(res);
                }
            }
        })
    }
</script>

<script>
    $(function() {
        console.log("YES");
        $.ajax({
            url:'/adinitial', /*接口域名地址*/
            type:'get',
            // data: formData,
            contentType: false,
            processData: false,
            success:function(res){

                console.log("OK");
                var json = eval("("+res+")");
                if(json.msg=="success"){

                    //行的长度
                    var rowlength = document.getElementById("order").rows.length;
                    //得到整个表格对象
                    var order = document.getElementById("order").insertRow(rowlength - 1);
                    order.id = rowlength - 1;
                    //插入列
                    var cel1 = order.insertCell(0).innerHTML = $("#fileupload")[0].files[0].name;

                    var cel4 = order.insertCell(1).innerHTML = "<input type=\"button\" value=\"delete\" " +
                        "onclick=\"delRow('" + (rowlength - 1) + "')\"/>" + "<input type=\"checkbox\" id=\"choosed\" />"
                }else if(json.msg=="error"){
                    alert('失败');
                }else{
                    // console.log(res);
                }
            }
        })
    })//DOM加载完毕后执行函数且只执行一次


</script>






<!--<script type="text/javascript">-->

<!--    $("#conform").click(function () {-->
<!--        var formData = new FormData();-->
<!--        formData.append("file",$("#fileupload")[0].files[0]);-->
<!--        formData.append("service",'App.Passion.UploadFile');-->
<!--        // formData.append("token",token);-->
<!--        $.ajax({-->
<!--            url:'/uploadfile', /*接口域名地址*/-->
<!--            type:'post',-->
<!--            data: formData,-->
<!--            contentType: false,-->
<!--            processData: false,-->
<!--            success:function(res){-->
<!--                // console.log(res);-->
<!--                var json = eval("("+res+")");-->
<!--                if(json.msg=="success"){-->

<!--                    //行的长度-->
<!--                    var rowlength = document.getElementById("order").rows.length;-->
<!--                    //得到整个表格对象-->
<!--                    var order = document.getElementById("order").insertRow(rowlength - 1);-->
<!--                    order.id = rowlength - 1;-->
<!--                    //插入列-->
<!--                    var cel1 = order.insertCell(0).innerHTML = $("#fileupload")[0].files[0].name;-->

<!--                    var cel4 = order.insertCell(1).innerHTML = "<input type=\"button\" value=\"delete\" " +-->
<!--                        "onclick=\"delRow('" + (rowlength - 1) + "')\"/>" + "<input type=\"checkbox\" id=\"choosed\" />"-->



<!--                    // addRow();-->

<!--                }else if(json.msg=="error"){-->
<!--                    alert('失败');-->
<!--                }else{-->
<!--                    // console.log(res);-->
<!--                }-->
<!--            }-->
<!--        })-->
<!--    })-->



<!--    function delRow(qwe) {-->
<!--        var ewq = document.getElementById(qwe).rowIndex;-->
<!--        document.getElementById("order").deleteRow(ewq);-->
<!--    }-->
<!--</script>-->

<script type="text/javascript" src="js/func.js"></script>
</body>
</html>