<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
    <title>Title</title>
</head>
<body>
<input type="file" name="photo" id="photo" value="" placeholder="免冠照片">
<input type="button" onclick="postData();" value="下一步" name="" style="width:100px;height:30px;">
<script type="text/javascript">
    function postData(){
        var formData = new FormData();
        formData.append("file",$("#photo")[0].files[0]);
        formData.append("service",'App.Passion.UploadFile');
        // formData.append("token",token);
        $.ajax({
            url:'/uploadfile', /*接口域名地址*/
            type:'post',
            data: formData,
            contentType: false,
            processData: false,
            success:function(res){
                console.log(res);
                if(res["msg"]=="success"){
                    alert('成功');
                }else if(res["msg"]=="error"){
                    alert('失败');
                }else{
                    console.log(res);
                }
            }
        })
    }
</script>
</body>
</html>